<title>AIFWAAA </title>

  <div class="bg">
            <div class="container">
                <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
                    <div class="top-header">
                        <div class="logo wow bounceInDown" data-wow-delay="0.4s">
                            <%=image_tag image_path('Untitled.png')%>
                        </div>
                         <nav class="top-nav wow bounceInDown" data-wow-delay="0.4s">
                          <span class="menu"> </span>
                            <ul class="top-nav">
                                <li class="active">

                                <li>
                                    <a href="<%= gmcs_path%>"><strong>ALL INDIA FIELD WORKERS AND AGENTS ASSOCIATION</strong>
                                    </a>
                                </li>
                               
                            </ul>
                        </nav>
                        <script>
                    $("span.menu").click(function(){
                        $(".top-nav ul").slideToggle(200);
                    });
                </script>

                        <div class="clearfix"> </div>
                    </div>
                </div>

                   

               <div class="col-md-7"></div>
               <div class="col-md-3">
                    <a href="https://m.facebook.com/All-India-Field-Workers-And-Agents-Association-219153898423750/"><i class="fa fa-facebook-square fa-2x"></i></a>

              <a href="http://www.aifwaaa.org" title="hit counter html"><img src="http://counter10.fcs.ovh/private/freecounterstat.php?c=2afe76e2398e2507dd5cbf9df2035009" border="0" title="hit counter html" alt="hit counter html"></a>
            </div>
                
        
        
                             <div class="col-md-2"></div>
                             <div class="col-md-7">
                                <a class="center" href="<%=download_pdf_path %>">
                                
                                     <h2 class="animated infinite flash">Download Membership Application</h2>
                                 </a>
                            
                            </div>
                             </div>
        </div>
                

<h1 class="animated infinite flash">Example</h1>